.logoPro{
  width: 160px;
  height: 70px;
}

.nav{
  height: 70px;
  width: 100%;
  border-radius:  0px 0px 25px 25px;
  background: linear-gradient(135deg, #68d4ff 10%, rgb(36, 60, 129) 90%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;


}


.linkText{
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  text-shadow: 3px 3px 2px #000000;
}


