@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;200;300;400&display=swap');
*{
    font-family: 'Josefin Sans', sans-serif;
}
html, body {
  width: 100%;
  height:100%;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.nav{
  height: 70px;
  width: 100%;
  border-radius:  0px 0px 25px 25px;
  background: linear-gradient(135deg, #68d4ff 10%, rgb(36, 60, 129) 90%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.recipe{
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgrey;
  border: 2px solid gray;
  margin: 5px;
}

.logopic{
  height: 200px;
  width: 200px;
}


.linkText{
  font-size: 20px;
  color: white;
  text-decoration: none;
  margin-right: 30px;
  text-shadow: 3px 3px 2px #1401017e;
}

.linkText:hover{
  color:rgb(120,144,169)

}


